anytree
appdirs
argon2-cffi
asgiref
astroid
attrs
Augmentor
backcall
Beaker
beautifulsoup4
bleach
blis
CacheControl
catalogue
certifi
cffi
chardet
colorama
contextlib2
cupshelpers
cycler
cymem
dataclasses
decorator
defusedxml
distlib
distro
dj-database-url
Django
django-appconf
django-bootstrap
django-bootstrap-form
django-crispy-forms
django-geojson
django-leaflet
django-settings-export
django-user-accounts
django-widget-tweaks
entrypoints
fastai
fastcore
fastprogress
filelock
future
gmpy2
gufw
gunicorn
html5lib
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonfield
jsonschema
kiwisolver
lazy-object-proxy
lensfun
lit
lockfile
louis
lxml
Mako
mallard-ducktype
Markdown
MarkupSafe
matplotlib
mccabe
meson
mistune
more-itertools
mpmath
msgpack
murmurhash
nbconvert
nbformat
netsnmp-python
notebook
numpy
ordered-set
packaging
pandas
pandocfilters
parso
pbr
pep517
pexpect
pickleshare
Pillow
plac
ply
polib
preshed
progress
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pycairo
pycparser
pycups
pycurl
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
python-xlib
pytoml
pytz
pyxdg
PyYAML
pyzmq
requests
resolvelib
retrying
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
soupsieve
spacy
sqlparse
srsly
sympy
terminado
testpath
thinc
threadpoolctl
toml
torch
torchvision
tornado
tqdm
traitlets
transliterate
typing-extensions
urllib3
wasabi
wcwidth
webencodings
whitenoise
widgetsnbextension
wrapt
zipp
